@import 'global';
@import 'fonts';
//  START HEADER
.header__main-logo {
    margin: 15px 0;
}
.header__main-phone {
    font-size: 24px;
    color: #5e5e5e;
    font-weight: 700;
    margin-left: 42px;
}
.header__main-link {
    font-size: 14px;
    font-weight: 500;
    color: #5892a6;
    border-bottom: 1px solid #5892a6;
    margin-left: 74px;
}
.header__menu-btn {
    font-size: 25px;
    position: absolute;
    margin-top: 5%;
    margin-left: 5%;
    color: #68b0c9;
    display: none;
}
//  END HEADER
//  START FORM
.form {
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 65px;
}
.form__title {
    padding-top: 80px;
    font-size: 41px;
    color: #535353;
    font-weight: 700;
    width: 600px;
    text-align: right;
}
.form__desc {
    font-size: 27px;
    font-weight: 500;
    color: #5892a6;
    width: 600px;
    text-align: right;
}
.form__inner-box {
    background-color: #fff;
    box-shadow: 0px 0px 38px 0px rgba(104, 176, 201, 0.34);
    border-radius: 20px;
    padding: 15px;
    margin-left: auto;
    margin-top: 70px;
    text-align: center;
    form {
        input {
            width: 80%;
            border-radius: 20px;
            height: 35px;
            padding: 15px 5px;
            border: 1px solid #e8e8e8;
            text-align: center;
            font-size: 13px;
            font-weight: 500;
            color: #9c9c9c;
            margin-bottom: 15px;
        }
        button {
            width: 80%;
            border-radius: 20px;
            height: 35px;
            border: none;
            background-color: #68b0c9;
            box-shadow: 0px 5px 5px 0px rgba(1, 1, 1, 0.1);
            color: #fff;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 14px;
            margin-bottom: 15px;
        }
    }
}
.form__inner-title {
    font-size: 20px;
    font-weight: 700;
    color: #5892a6;
    margin-bottom: 10px;
}
.form__inner-text {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 15px;
}
//  END FORM
//  START DESC
.desc {
    margin-top: 80px;
}
.desc__title {
    font-weight: 700;
    font-size: 36px;
    color: #535353;
    text-align: center;
    margin-bottom: 130px;
}
.desc__item-content {
    position: relative;
    .right {
        position: absolute;
        top: -40%;
        right: -20%;
    }
    .left {
        position: absolute;
        top: -40%;
        left: -20%;
    }
}
.desc__item-title {
    font-weight: 700;
    font-size: 30px;
    color: #68b0c9;
    margin-bottom: 30px;
}
.desc__item-text {
    font-weight: 300;
    font-size: 18px;
    color: #535353;
}
.desc__item-img {
    img {
        width: 100%;
    }
}
//  END DESC
//  START SALE 
 .sale {
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 65px;
    padding-bottom: 60px;
    margin-bottom: 55px;
 }
 .sale-title {
     font-size: 55px;
     font-weight: 700;
     color: #535353;
     text-transform: uppercase;
     text-align: center;
     width: 350px;
     span {
         font-size: 26px;
         font-weight: 900;
         display: block;
     }
 }
 .sale-desc {
    font-weight: 900;
    text-align: center;
     width: 350px;
     color: #68b0c9;
     font-size: 25px;
 }

.sale__inner-sum{
    font-weight: 300;
    font-size: 18px;
    color: #1e1e1e;
    background-color: #fff;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    text-align: center;
    margin-left: 13%;
    position: relative;
    img {
        position: absolute;
        bottom: -40%;
        right: -90%;
    }
    .summ {
        top: 50%;
        transform: translateY( -50%);
        position: relative;
        &::before {
            content: '';
            position: absolute;
            height: 1px;
            width: 40%;
            background-color: #000;
            top: 18%;
            left: 30%;
        }
    }
    span {
        display: block;
        font-weight: 700;
        color: #d04545;
        font-size: 30px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            height: 1px;
            width: 120px;
            left: 10%;
            background-color: #000;
        }
    }
}
.sale__inner-box {
    margin-top: 50px;
    margin-right: 50px;
    width: 275px;
    border: 5px solid #fff;
    padding: 20px;
    padding-bottom: 5px;
    border-radius: 20px;
    text-align: center;
    .sale__content-left,
    .sale__content-right {
        width: 80px;
        font-weight: 700;
        color: #ba6c6c;
        font-size: 14px;
    }
    .sale__content-date.icon-calendar-o  {
       font-weight: 700;
       font-size: 40px;
       color: #ba6c6c;
       position: relative;
       &::after {
        content: '4';
        position: absolute;
        font-size: 20px;
        top: 30%;
        left: 35%;
       }
    }
    button {
        width: 80%;
        margin-top: 10px;
        border-radius: 20px;
        height: 35px;
        border: none;
        background-color: #68b0c9;
        box-shadow: 0px 5px 5px 0px rgba(1, 1, 1, 0.1);
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
        margin-bottom: 15px;
    }
}
//  END SALE
//  START INFORMATION
.information {
    margin-bottom: 80px;
}
.information__numb {
    font-weight: 700;
    font-size: 48px;
    line-height: 6rem;
    color: #68b0c9;
    background-image: url(../image/information.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.information__desc {
    font-size: 18px;
    font-weight: 500;
    color: #535353;
}
// END INFORMATION
// START CERTIFICATE
.certificate {
    background-color: #f7fafd;
    padding-top: 80px;
    padding-bottom: 80px;
    .certificate__img {
        height: 310px;
    }
}
.certificate__title {
    margin-bottom: 80px;
}
.certificate__content {
    .certificate__content-title {
        margin-bottom: 30px;
        h3 {
            font-weight: 700;
            color: #5892a6;
            font-size: 22px;
            margin-bottom: 0;
        }
        img {
            margin-right: 15px;
        }
    }
    .certificate__content-text {
        font-weight: 500;
        font-size: 18px;
        color: #323232;
    }
}
// END CERTIFICATE
// START ADVANTAGE
.advantage {
    background-image: url(../image/advantage/bg.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 100px;
    padding-bottom: 100px;
    .left {
        text-align: right;
        margin-left: 3rem;
        margin-bottom: 25px;
    }
    .right {
        text-align-last: left;
        margin-right: 3rem;
        margin-bottom: 25px;
    }
    .advantage__title {
        font-weight: 700;
        font-size: 20px;
        color: #5892a6;
        position: relative;
        .item_1 {
            position: absolute;
            right: -8rem;
            top: 1rem;
        }
        .item_2 {
            position: absolute;
            left: -8.5rem;
            top: -2rem;
        }
        .item_3 {
            position: absolute;
            right: -7.5rem;
            top: -2rem;
        }
        .item_4 {
            position: absolute;
            left: -8.5rem;
            top: 1.5rem;
        }
    }  
}
// END ADVANTAGE
// START REQUEST
.request {
    background-image: url(../image/request/bg-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding-top: 60px;
    padding-bottom: 50px;
    .request-circle {
        margin-left: auto;
        margin-right: -6rem;
        .request-title {
            font-weight: 700;
            color: #5892a6;
            font-size: 17px;
            padding-top: 2rem;
        }
        font-weight: 300;
        font-size: 14px;
        color: #1e1e1e;
        background-color: #fff;
        max-width: 150px;
        height: 150px;
        border-radius: 50%;
        text-align: center;
        margin-left: 13%;
        .summ {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                height: 1px;
                width: 40%;
                background-color: #000;
                top: 16%;
                left: 30%;
            }
        }
        span {
            display: block;
            font-weight: 700;
            color: #d04545;
            font-size: 24px;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                height: 1px;
                width: 85%;
                left: 5%;
                background-color: #000;
            }
        }
    }
    .request-form {
        .request-form__title{
            font-size: 20px;
            color: #535353;
            font-weight: 700;
            text-align: center;
            position: relative;
            img {
                position: absolute;
                top: 3rem;
                right: 2rem;
            }
            span {
                display: block;
                color: #5892a6;
                background-color: #fff;
                margin: 0 auto;
                margin-top: 10px;
                width: 240px;
                padding: 5px 10px;
            }
        }
        form {
            margin: 0 auto;
            text-align: center;
            input {
                width: 60%;
                border-radius: 20px;
                height: 35px;
                padding: 15px 5px;
                border: 1px solid #e8e8e8;
                text-align: center;
                font-size: 13px;
                font-weight: 500;
                color: #9c9c9c;
                margin-top: 25px;
                margin-bottom: 20px;
            }
            button {
                width: 60%;
                border-radius: 20px;
                height: 35px;
                border: none;
                background-color: #68b0c9;
                box-shadow: 0px 5px 5px 0px rgba(1,1,1,0.1);
                color: #fff;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 14px;
                margin-bottom: 15px;
            }
        }
    }
}
// END REQUEST
// START COMPARE
.compare {
    padding-top: 80px;
    padding-bottom: 83px;
}
.compare__title {
    margin-bottom: 50px;
    width: 335px;
    h5{
        font-weight: 700;
        color: #68b0c9;
        font-size: 22px;
        text-align: left;
        width: 150px;
    }
    .usual-title {
        color: #939393;
        text-align: right;
    }
}
.compare-image {
    text-align: center;
}
.compare-text__right {
    text-align: left;
    font-weight: 700;
    font-size: 15px;
    color: #68b0c9;
    margin-top: 10px;
    p {
        width: 220px;
    }
    .item-1 {
        position: relative;
        img {
            top: 0.5rem;
            left: -6rem;
            position: absolute;
        }    
    }
    .item-2 {
        position: relative;
        img {
            top: 0.5rem;
            left: -6rem;
            position: absolute;
        } 
    }
    .item-3 {
        position: relative;
        img {
            top: 0.5rem;
            left: -6rem;
            position: absolute;
        } 
    }
    .item-4 {
        position: relative;
        img {
            top: 0.5rem;
            left: -6rem;
            position: absolute;
        } 
    }
}
.compare-text__left {
    text-align: right;
    font-weight: 700;
    font-size: 15px;
    color: #939393;
    margin-top: 10px;
    margin-left: auto;
    margin-right: -8rem;
    p {
        width: 220px;
    }
    .item-1 {
        position: relative;
        img {
            top: 0.5rem;
            right: -6rem;
            position: absolute;
        }    
    }
    .item-2 {
        position: relative;
        img {
            top: 0.5rem;
            right: -6rem;
            position: absolute;
        } 
    }
    .item-3 {
        position: relative;
        img {
            top: 0.5rem;
            right: -6rem;
            position: absolute;
        } 
    }
    .item-4 {
        position: relative;
        img {
            top: 0.5rem;
            right: -6rem;
            position: absolute;
        } 
    }
}
// END COMPARE
// START FOOTER
.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #ecf3f8;
    iframe {
        width: 100%;
        height: 320px;
        border-radius: 20px;
    }
    .footer__info-title {
        font-weight: 300;
        font-size: 16px;
        color: #535353;
        margin-bottom: 55px;
        span {
            font-weight: 700;
            color: #68b0c9;
            font-size: 25px;
            display: block;
            margin-top: 20px;
        }
    }
    .footer__info-btn{
        font-weight: 300;
        font-size: 16px;
        color: #535353;
        button {
            display: block;
            margin: 0 auto;
            margin-top: 22px;
            text-transform: uppercase;
            font-weight: 700;
            background-color: #68b0c9;
            border: none;
            text-align: center;
            padding: 20px 50px;
            border-radius: 40px;
            color: #fff;
            box-shadow: 0px 5px 5px 0px rgba(1, 1, 1, 0.1);
        }
    }
}
.footer__info {
    margin: 0 auto;
}
// END FOOTER
@import 'media';